@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    font-weight: normal;
    text-align: left;
}

img, fieldset {
    border: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

q:before, q:after {
    content: '';
}

/*FIN DEL RESET CSS*/








body{
    font-size:94.5%;/*Tamaño letra*/
    background-color: moccasin;
}


h1 {
    color: white;
    font: normal 2.4em verdana,geneva;
   /* background: -webkit-linear-gradient(top, #5bae74,#04361c);*/
   background-image:url("contenedor2.jpg") ;
    width: 400px;
    text-align: center;
    border-radius: 20px 10px 30px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: #134e22 5px 5px 10px;
    text-shadow: #134e22 2px 2px 3px;
}

nav {
    background-color: burlywood;
    text-align: center;
    padding:10px;
}

li {
    display: inline;
    margin:60px;
    
}

#titulin{
    font:bold 1.7em comic sans, sans serif;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    padding:5px 0px 5px 0px; 
    width:91%;


}

section{
    width:91%;
    border-top:2px solid grey;
    border-bottom: 2px solid grey;
    margin:auto;
}


figure img{
    
    border-radius:15px;
    padding:3px;
    background-color:dimgrey;
    transition: transform 0.2s ease-in-out 0.01s;
    margin-top: 13px;
    box-shadow: grey 5px 5px 10px;
   

    
}
figure{
   float:left;
 margin-left: 100px;
    


}

figure img:hover{

    transform: scale(1.2);
}

 figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 15px;
}





footer{
    border-top:2px solid grey;
    clear:left;
    margin-top:700px;
    margin-bottom: 50px;
    text-align: center;
    
  

}
footer p{
    font:1.3em Georgia;
    color: darkslategray;
    
}

li a{
color: #04361c;
text-decoration: none;
font-size:1.2em;


}

#lago {

    width: 91%;
    margin:auto;
    

}
#klago{

    width: 100px;
    height: 100px;
}