@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    font-weight: normal;
    text-align: left;
}

img, fieldset {
    border: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

q:before, q:after {
    content: '';
}

/*FIN DEL RESET CSS*/


body{
    font-size:94.5%;/*Tamaño letra*/
}


h1 {
    color: white;
    font: normal 2.4em verdana,geneva;
    background: -webkit-linear-gradient(top, #5bae74,#0af97b);
    width: 400px;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: #134e22 5px 5px 10px;
    text-shadow: #134e22 2px 2px 3px;
}

nav {
    background-color: burlywood;
    text-align: center;
    padding:10px;
}

li {
    display: inline;
    margin:60px;
    
}

#titulin{
    font:bold 1.7em comic sans, sans serif;
    margin:15px;
    padding:5px 0px 5px 0px; 


}

section{
    width:91%;
    border-top:2px solid grey;
    margin:auto;
    
}

#linea1{
    float:left;
    padding:20px;

}

#linea2 {
    float: left;
    padding: 20px;
}

#linea3 {
    float: left;
    padding: 20px;
}
figure img{
    border-radius:15px;
    padding:3px;
    background-color:dimgrey;

}

#center {
    text-align: center;
}